* {
	border: 0px;
	margin: 0px;
	padding: 0px;	
}

html,body {
	width: 100%;
	height: 100%;
}

body {
	background-image:url('../img/bg.png');	
	background-size: 35px 35px;
}

#startSelect {
	width: 300px;
	margin: 0 auto;
	margin-top: 60px;	
}

#startSelect input {
	width: 300px;
	height: 40px;
	margin: 10px;
	background-color: #F9574A;
}

.cursor {
	position:absolute;
	width: 20px;
	height: 20px;
	border-radius: 10;	
}

#hostCursor {background-color: red;}
#guestCursor {background-color: blue;}

#gameDiv {
	margin-top: 50px;
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}

#gameWindow {
	margin: 0 auto;
	vertical-align: middle;
	display: table-cell;
}

/* UI */

#ui {
	position: relative;
	width: 800px;
	height: 600px;
	margin: 0 auto;
	z-index: 100;
}

#ui #scores {
	position: absolute;
	width: 400px;
	left: 200px;
	bottom: 0px;
	font-size: 24px;
}

#ui #scores span {width: 200px; text-align: center;}

#ui #scores p {
	font-weight: bold;
	padding: 0px 20px 0px 10px;
	display: inline;
}